body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/**
  div contenant le prix  
**/
.plan {
position: relative;
margin-bottom: 70px;
}


a#scrollUp {
bottom: 0px;
right: 10px;
padding: 5px 10px;
background: #FE980F;
color: #FFF;
-webkit-animation: bounce 2s ease infinite;
animation: bounce 2s ease infinite;
}
a:hover {
outline: none;
text-decoration: none;
}


/**
 les différents elements du prix 
 **/
.pricing-area ul {
background: #FAFAFA;
padding: 0;
margin: 0;
}

.heading-price{

    background: #e24f43;
}

.plan-action {
height: 40px!important;
}

.pricing-area .plan-action .btn-primary {
position: relative;
padding: 5px 20px;
color: #fff;
margin-top: 5px;
}

.pricing-area .heading-four, .pricing-area .price-four .plan-action .btn-primary {
background: #5c5c5c;
}
.pricing-area .heading-one, .pricing-area .heading-two, .pricing-area .heading-three, .pricing-area .heading-four, .pricing-area .heading-five, .pricing-area .heading-six, .pricing-area .heading-seven {
margin-left: -10px;
}
.pricing-area ul li {
list-style: none;
padding: 15px 0;
font-size: 16px;
font-weight: 400;
}

.pricing-area h1 {
font-weight: 300;
margin-top: 0;
margin-bottom: 15px;
}

h1 {
font-size: 36px;
color: #fff;
}
h1, h2, h3, h4, h5, h6 {
font-weight: 600;
font-family: 'Open Sans', sans-serif;
color: #4e4e4e;
}

.pricing-area h3, .pricing-area span {
color: #fff;
}
.pricing-area span {
font-weight: 700;
font-size: 18px;
}

.pricing-area ul li:nth-child(even) {
background: #f5f5f5;
}
.pricing-area ul li {
list-style: none;
padding: 15px 0;
font-size: 16px;
font-weight: 400;
}
/**
  effet des prix  
 **/
.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}


.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

