﻿@model IEnumerable<lebondeal.Models.User>

@{
    ViewBag.Title = "Listes des utilisateurs";
}

<a href="@Url.Action("Create", "User")">
    <button type="button" class="btn btn-default">
        <span class="fa fa-plus " aria-hidden="true">

        </span> AJOUTER UN UTILISATEUR
    </button>
</a>

<div style="margin-bottom: 20px;margin-top: 20px"></div>

<table id="datatable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Nom d'affichage</th>
            <th>Login</th>
            <th>Mail</th>
            <th>Telephone</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr class="odd gradeX">

                <td>@item.DisplayName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>


                <td>
                    <a href="@Url.Action("Edit", "User", new {username = item.UserName})">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                    <a href="@Url.Action("Delete", "User", new {username = item.UserName})">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>

                </td>

            </tr>
        }
    </tbody>
</table>


