﻿@using lebondeal.Models
@model lebondeal.Models.Product

@using (Html.BeginForm("create", "Product", null, FormMethod.Post,
                             new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name,"Nom", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="CategoryId" class="control-label col-md-2">Categories:</label>
            <div class="col-md-4">
                <select data-val="true" class="form-control" name="CategoryId" id="CategoryId">
                    @foreach (Category cat  in (IEnumerable<Category>) ViewData["Categories"])
                    {
                        <option value="@cat.CategoryId">@cat.Name</option>
                    }
                                    
                </select>
                </div>
            </div>
     
        <div class="form-group">
            @Html.LabelFor(model => model.Price,"Prix", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("image", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="file" name="file" id="file" class="form-control" />
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Creer" class="btn btn-default" />
            </div>
        </div>
    </div>
}


