﻿@model IEnumerable<lebondeal.Models.Product>
    @AntiForgery.GetHtml()

    @{
        ViewBag.Title = "Gestion des produits";
    }

    <a href="@Url.Action("Create", "Product")">
        <button type="button" class="btn btn-default">
            <span class="fa fa-plus " aria-hidden="true">

                    </span> AJOUTER UN PRODUIT
        </button>
    </a>
    <div style="margin-bottom: 20px;margin-top: 20px"></div>

    <table id="datatable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom du produit</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX">

                    <td><img height="100px" width="100px" src="~/Areas/cockpit/Images/Produits/@item.ImgUrl"  /></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>

                    <td>
                        <a href="@Url.Action("Edit", "Product", new {productid = item.ProductId})">
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </a>
                        <a href="@Url.Action("Remove", "Product", new {productid = item.ProductId})">
                            <i class="fa fa-trash fa-2x"></i>
                        </a>

                    </td>

                </tr>
            }
        </tbody>
    </table>
