﻿
@{
    ViewBag.Title = "panier";
    Layout = "_CartLayout.cshtml";
}

<section id="cart_items">
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr class="cart_menu">
                    <td class="image">Article</td>
                    <td class="description"></td>
                    <td class="price">Prix</td>
                    <td class="quantity">Quantite</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {


                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/cart/one.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">@item.Product.Name</a></h4>
                        </td>
                        <td class="cart_price">
                            <p>@item.Product.Price</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href="@Url.Action("AddToCart","Cart",new { id = item.ProductId })"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value=" @item.Count" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href="@Url.Action("RemoveToCart","Cart",new { id = item.ProductId })"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">@(item.Product.Price * item.Count)</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="@Url.Action("RemoveFromCart","Cart",new { id = item.ProductId })"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>


                }

            </tbody>
        </table>
    </div>

</section>
   
