﻿@model System.Collections.Generic.IEnumerable<lebondeal.Models.Customer>

@{
    ViewBag.Title = "Listes des clients";
}

<a href="@Url.Action("Create", "Customer")">
    <button type="button" class="btn btn-default">
        <span class="fa fa-plus " aria-hidden="true">

        </span> AJOUTER UN CLIENT
    </button>
</a>

<div style="margin-bottom: 20px;margin-top: 20px"></div>

<table id="datatable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date d'inscription</th>
            <th>Date des dernières modifications</th>
            <th>Actif</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr class="odd gradeX">

                <td>@item.customer_lastname</td>
                <td>@item.customer_firstname</td>
                <td>@item.customer_createdate</td>
                <td>@item.customer_lastupdate</td>
                <td>@item.customer_active</td>


                <td>
                    <a href="@Url.Action("Edit", "Customer", new {customer_id = item.customer_id})">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                    <a href="@Url.Action("Remove", "Customer", new {customer_id = item.customer_id})">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>

                </td>

            </tr>
        }
    </tbody>
</table>



