﻿@model IEnumerable<lebondeal.Models.Category>

@{
    ViewBag.Title = "Gestion des Categories";
}
<a href="@Url.Action("Create", "Category")">
    <button type="button" class="btn btn-default">
        <span class="fa fa-plus " aria-hidden="true">

        </span> AJOUTER UNE CATEGORIE
    </button>
</a>

<div style="margin-bottom: 20px;margin-top: 20px"></div>

<table id="datatable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Image</th>
            <th>Nom de la catégorie</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
            {
            <tr class="odd gradeX">

                <td><img height="100px" width="100px" src="~/Areas/cockpit/Images/Categories/@item.CategoryImage" /></td>
                <td>@item.Name</td>
              

                <td>
                    <a href="@Url.Action("Edit", "Category", new {categoryId = item.CategoryId})">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                    <a href="@Url.Action("Remove", "Category", new {categoryId = item.CategoryId})">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>

                </td>

            </tr>
        }
    </tbody>
</table>



