﻿@model IEnumerable<lebondeal.Models.Slider>

@{
    ViewBag.Title = "Gestion des sliders";
}

<a href="@Url.Action("Create", "Slide")">
    <button type="button" class="btn btn-default">
        <span class="fa fa-plus " aria-hidden="true">

        </span> AJOUTER UN SLIDE
    </button>
</a>

<div style="margin-bottom: 20px;margin-top: 20px"></div>

<table id="datatable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre du slide</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr class="odd gradeX">

                <td><img height="100px" width="100px" src="~/Areas/cockpit/Images/Slides/@item.Img" /></td>
                <td>@item.Title</td>


                <td>
                    <a href="@Url.Action("Edit", "Slide", new {slideId = item.Id})">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                    </a>
                    <a href="@Url.Action("Remove", "Slide", new {slideId = item.Id})">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>

                </td>

            </tr>
        }
    </tbody>
</table>