﻿@model  IEnumerable<lebondeal.Models.Product>
    @{
        ViewBag.Title = "Electro";
    }
           
        <div class="features_items">
        @foreach (var item in Model)
            {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Areas/Cockpit/Images/Produits/@item.ImgUrl" alt="">
                                    <h2>@item.Price €</h2>
                                    <p>@item.Name</p>
                                    <a href="@Url.Action("AddToCart", "Cart", new {id = @item.ProductId})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ajouter au panier</a>
                                    <a href="@Url.Action("Details", "Store", new {id = @item.ProductId})" class="btn btn-default add-to-cart"><i class="fa fa-info"></i>Details</a>
                                </div>          
                        </div>
                    </div>
                </div>

            }
        </div>


