﻿@model IEnumerable<lebondeal.Models.Slider>
@{
    ViewBag.Title = "lebondeal la boutique";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i"></li>
                            }


                        }
                    </ol>

                    <div class="carousel-inner">
                  @{

                      var it = 0;
                  }
                 @foreach (var item in Model)
                 {
                     if (it == 0)
                     {
                         <div class="item active">
                             <div class="col-sm-6">
                                 <h2>@item.Title</h2>
                                 <p>@item.Text </p>
                                 <button type="button" class="btn btn-default get">Get it now</button>
                             </div>
                             <div class="col-sm-6">
                                 <img src="~/Areas/Cockpit/Images/Slides/@item.Img" class="girl img-responsive" alt="@item.Title"/>
                                 <!-- <img src="images/home/pricing.png" class="pricing" alt=""/> -->
                             </div>
                         </div>

                     }
                     else
                     {
                        <div class="item">
                            <div class="col-sm-6">
                                <h2>@item.Title</h2>
                                <p>@item.Text </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Areas/Cockpit/Images/Slides/@item.Img" class="girl img-responsive" alt="@item.Title" />
                                <!-- <img src="images/home/pricing.png" class="pricing" alt="" />  -->
                            </div>
                        </div>


                     }
                     it++;
                 }
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->


