﻿@model lebondeal.Areas.Cockpit.ViewModels.LoginViewModel

@{
    Layout ="~/Areas/Cockpit/Views/Bunker/_LoginLayout.cshtml";
}


    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4 class="text-center">Connexion</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, "Login",htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Password,"Mot de passe", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",@type="password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.rememberMe, "Garder ma session ouverte", htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.rememberMe)
                        @Html.ValidationMessageFor(model => model.rememberMe, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Connexion</button>
                </div>
            </div>
        </div>
    }
    

